# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/
datasets/

# Models + checkpoints
*.pt
*.ckpt
checkpoints/
models/
saved_models/

# --- Weights & Biases ---
wandb/

# Output / results
videos/
results/
output/
plots/

# Gymnasium recordings
monitor/
recordings/

# Cache & logs
.cache/
*.log

# OS files
.DS_Store
Thumbs.db

reinforce_videos/
reinforce_cartpole_no_baseline_videos
reinforce_lunar_lander
LunarLander_videos
cartpole_REINFORCE_no_baseline_videos

.vscode